* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-image: url("../assets/mesh-bg-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  overflow: visible;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.92);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
.modal__content {
  background-color: rgba(23, 4, 38, 0.4);
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
.modal__btn-container {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modal__new-game-btn, .modal__home-btn {
  padding: 12px 15px;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
  background-color: rgba(1, 103, 45, 0.5);
}
.modal__new-game-btn:hover, .modal__home-btn:hover {
  background-color: rgba(2, 139, 61, 0.8);
  cursor: pointer;
}
.modal__msg {
  color: rgb(161, 18, 27);
  font-size: clamp(1.7rem, 7.5vw, 4rem);
  font-weight: bold;
}
.modal__score {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.logo-section {
  padding: 17px 0;
  width: 95%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  justify-content: space-between;
  text-align: center;
}
.logo-section__home-btn-wrapper {
  height: 50%;
  width: 5%;
  overflow: hidden;
  margin-left: 10px;
  transition: transform 0.2s ease-out;
}
.logo-section__home-btn-wrapper:hover {
  transform: scale(1.15);
  cursor: pointer;
}
.logo-section__home-icon {
  max-width: 100%;
  max-height: 100%;
}
.logo-section__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-section__presents {
  font-size: 0.7rem;
  margin-right: 10px;
}
.logo-section__logo {
  font-size: clamp(1.2rem, 7vw, 2.5rem);
  margin-right: 10px;
}

.scores {
  width: 80%;
  height: 5%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.scores__scoreboard {
  font-size: clamp(0.8rem, 4vw, 1.5rem);
  background-color: rgba(249, 249, 249, 0.3);
  padding: 5px 10px;
  border-radius: 5px;
}
.scores__points-this-ques {
  font-size: clamp(0.8rem, 4vw, 1.5rem);
  color: rgb(222, 238, 252);
}

.game-area {
  height: 70vh;
}
.game-area__choices-area-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}
.game-area__choices-container {
  opacity: 1;
  transition: opacity 0.5s ease-out;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  width: 80%;
  height: 60%;
  margin: 0 auto;
  row-gap: 5px;
  column-gap: 5px;
}
.game-area__choices-container__choices-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 43, 0.35);
  transition: background-color 0.2s ease-out;
  padding: 10px 10px;
  border-radius: 5px;
}
.game-area__choices-container__choices-grid-item:hover {
  background-color: rgba(61, 1, 104, 0.3);
  cursor: pointer;
}
.game-area__confirm-btn {
  padding: 12px 15px;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
  background-color: rgba(1, 103, 45, 0.5);
}
.game-area__confirm-btn:hover {
  background-color: rgba(2, 139, 61, 0.8);
  cursor: pointer;
}
.game-area__btns-container {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.game-area__next-ques-btn {
  padding: 12px 15px;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
  background-color: rgba(1, 77, 112, 0.4);
}
.game-area__next-ques-btn:hover {
  background-color: rgba(2, 156, 227, 0.4);
  cursor: pointer;
}
.game-area__confirm-ans-btn {
  padding: 12px 15px;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
  background-color: rgba(1, 103, 45, 0.5);
}
.game-area__confirm-ans-btn:hover {
  background-color: rgba(2, 139, 61, 0.8);
  cursor: pointer;
}

.question-area-wrapper {
  opacity: 100%;
  transition: opacity 0.15s ease-out;
  transition-delay: 0.5s;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.question-area-wrapper__question-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}
.question-area-wrapper__question {
  background-color: rgba(3, 0, 60, 0.3);
  border-radius: 5px;
  padding: 25px 40px;
  width: 75%;
}
.question-area-wrapper__question-text {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
.question-area-wrapper__answers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 80%;
}
.question-area-wrapper__answer-text {
  background-color: rgba(5, 119, 121, 0.3);
  border-radius: 5px;
  padding: 15px 30px;
  width: 75%;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  transition: background-color 0.25s ease-out;
}
.question-area-wrapper__answer-text:hover {
  background-color: rgba(0, 251, 255, 0.3);
  cursor: pointer;
}

.hide {
  display: none;
  opacity: 0%;
}

.selected-answer {
  background-color: rgba(0, 251, 255, 0.3);
}

.selected-grid-item, .selected-grid-item:hover {
  background-color: rgba(148, 3, 252, 0.4);
}

.correct-answer, .correct-answer:hover, .correct-answer:focus {
  background-color: rgba(1, 153, 21, 0.6);
  cursor: default;
}

.incorrect-answer, .incorrect-answer:hover, .incorrect-answer:focus {
  background-color: rgba(153, 1, 1, 0.6);
  cursor: default;
}

.completed, .completed:hover, .completed:focus {
  background-color: rgba(45, 44, 44, 0.4);
  cursor: default;
  text-decoration: line-through;
}
