// -------------------- MODULES --------------------
@use "./mixin.scss";
// -------------------- GLOBAL STYLES --------------------
*{
    // outline: 1px solid #ff0000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    @include mixin.page-bg;
    overflow: visible;
}

// -------------------- MODAL STYLES --------------------

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.92);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;

    &__content{
        background-color: rgba($color: #170426, $alpha: 0.4);
        width: 80%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
    }

    &__btn-container{
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__new-game-btn, &__home-btn{
        @include mixin.btn-styles;

        &:hover{
            @include mixin.btn-hover-styles;
        }
    }


    &__msg{
        color: rgb(161, 18, 27);
        font-size: clamp(1.7rem, 7.5vw, 4rem);
        font-weight: bold;
    }

    &__score{
        color: white;
        text-align: center;
        font-size: 1.5rem;
    }
    
}


// -------------------- LOGO SECTION STYLES --------------------

.logo-section{
    @include mixin.logo-section-styles;
    justify-content: space-between;
    text-align: center;

    &__home-btn-wrapper{
        height: 50%;
        width: 5%;
        overflow: hidden;
        margin-left: 10px;
        transition: transform 0.1s ease-out;

        &:hover{
            transform: scale(1.15);
            cursor: pointer;
        }
    }

    &__home-icon{
        max-width: 100%;
        max-height: 100%;
    }

    &__logo-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__presents{
        @include mixin.presents-styles;
    }

    &__logo{
        @include mixin.logo-styles;
    }
}

// -------------------- SCORES SECTION STYLES --------------------

.scores{
    width: 80%;
    height: 5%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;


    &__scoreboard{
        background-color: rgba($color: #f9f9f9, $alpha: 0.3);
        padding: 5px 10px;
        border-radius: 5px;
    }

    &__points-this-ques{
        
        color: rgb(222, 238, 252);
    }

    &__scoreboard, &__points-this-ques{
        font-size: clamp(0.8rem, 4vw, 1.5rem);

        @include mixin.desktop-screen{
            font-size: clamp(1rem, 3vw, 2.2rem);
        }
    }
}


// -------------------- GAME AREA STYLES --------------------
.game-area{
    height: 70vh;

    // ---------- CHOICES GRID STYLES ----------

    &__choices-area-wrapper{
        @include mixin.section-styles;
        transition: opacity 0.25s ease-out;

        @include mixin.desktop-screen{
            width: 60%;
            margin: 0 auto;
        }
    }
    
    &__choices-container{
        display: grid;
        grid-template: repeat(3, 1fr)/repeat(3, 1fr);
        width: 80%;
        height: 60%;
        margin: 0 auto;
        row-gap: 5px;
        column-gap: 5px;
        
        
        &__choices-grid-item{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            color: white;
            text-align: center;
            background-color: rgba(0, 0, 43, 0.35);
            transition: background-color 0.2s ease-out;
            padding: 10px 10px;
            border-radius: 5px;

            &:hover{
                background-color: rgba(61, 1, 104, 0.3);
                cursor: pointer;
            }
        }
    }

    &__confirm-btn{
        @include mixin.btn-styles;

        &:hover{
            @include mixin.btn-hover-styles;
        }
    }

      &__btns-container{
        display: flex;
        width: 50%;
        justify-content: space-around;
    }

    &__next-ques-btn{
        @include mixin.btn-styles(rgba($color: #014d70, $alpha: 0.4));

        &:hover{
            @include mixin.btn-hover-styles(rgba($color: #029ce3, $alpha: 0.4))
        }
    }

    &__confirm-ans-btn{
        @include mixin.btn-styles;
        
        &:hover{
            @include mixin.btn-hover-styles;
        }
    }
}

    // ---------- GAME AREA STYLES ----------

    .question-area-wrapper{
        transition: opacity 0.25s ease-out;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__question-container{
            @include mixin.section-styles;
        }

        &__question{
            background-color: rgba($color: #03003c, $alpha: 0.3);
            border-radius: 5px;
            padding: 25px 40px;
            width: 75%;

            @include mixin.desktop-screen{
                width: 80%;
            }
        }

        &__question-text{
            color: white;
            text-align: center;
            font-size: 1.5rem;
        }

        &__answers{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 50%;
            width: 80%;
            
            @include mixin.desktop-screen{
                display: grid;
                grid-template: repeat(2, 1fr)/repeat(2, 1fr);
                row-gap: 10px;
                column-gap: 10px;
                width: 90%;
                height: 20%;
                justify-items: center;
            }

        
        }

        &__answer-text{
            background-color: rgba($color: #057779, $alpha: 0.3);
            border-radius: 5px;
            padding: 15px 30px;
            width: 100%;
            color: white;
            text-align: center;
            font-size: 1.2rem;
            transition: background-color 0.25s ease-out;

            @include mixin.desktop-screen{
                height: 100%;
            }

            &:hover{
                background-color: rgba($color: #00fbff, $alpha: 0.3);
                cursor: pointer;
            }
        }
    }

// -------------------- DYNAMICALLY ADDED STYLES --------------------
.hide{
    display: none;
} 

.transparent{
    opacity: 0;
}

.selected-answer{
    background-color: rgba($color: #7cf5f7, $alpha: 0.3);
    outline: 2px solid rgb(149, 201, 252);
    // color:#8bc9f0;
    // font-weight: 700;
}

.selected-grid-item, .selected-grid-item:hover{
    background-color: rgba(148, 3, 252, 0.4);
}

.correct-answer, .correct-answer:hover, .correct-answer:focus{
    background-color: rgba($color: #019915, $alpha: 0.6);
    cursor: default;
}

.incorrect-answer, .incorrect-answer:hover, .incorrect-answer:focus{
    background-color: rgba($color: #990101, $alpha: 0.6);
    cursor: default;
}

.completed, .completed:hover, .completed:focus{
    background-color: rgba($color: #2d2c2c, $alpha: 0.4);
    cursor: default;
    text-decoration: line-through;
}
