// -------------------- MODULES --------------------
@use "./mixin.scss";
// -------------------- GLOBAL STYLES --------------------
*{
    // outline: 1px solid #ff0000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
 height: 100vh;
}

body{
    @include mixin.page-bg;
}

// -------------------- MODAL STYLES --------------------

.modal{
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

    &__content{
        background-color: rgba($color: #4e1c1c, $alpha: 0.2);
        width: 80%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;

    }

    &__btn-container{
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__new-game-btn, &__home-btn{
        @include mixin.btn-styles;

        &:hover{
            @include mixin.btn-hover-styles;
        }
    }


    &__msg{
        color: rgb(161, 18, 27);
        font-size: 4rem;
        font-weight: bold;
    }

    &__score{
        color: white;
        text-align: center;
        font-size: 1.5rem;
    }
    
}


// -------------------- LOGO SECTION STYLES --------------------

.logo-section{
    @include mixin.logo-section-styles;

    &__presents{
        margin-right: 5px;
    }
}

// -------------------- SCORES SECTION STYLES --------------------

.scores{
    width: 80%;
    height: 5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 45px;

    &__scoreboard{
        font-size: 1.5rem;
        background-color: rgba($color: #f9f9f9, $alpha: 0.3);
        padding: 5px 10px;
        border-radius: 5px;
    }

    &__points-this-ques{
        font-size: 1.5rem;
        color: rgb(222, 238, 252);
    }
}


// -------------------- GAME AREA STYLES --------------------
.game-area{
    height: 80%;

    // ---------- CHOICES GRID STYLES ----------

    &__choices-area-wrapper{
        @include mixin.section-styles;
    }
    
    &__choices-container{
        opacity: 100%;
        transition: opacity 0.5s ease-out;
        transition: 0.5s;
        display: grid;
        grid-template: repeat(3, 1fr)/repeat(3, 1fr);
        width: 80%;
        height: 60%;
        margin: 0 auto;
        row-gap: 5px;
        column-gap: 5px;
        
        
        &__choices-grid-item{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            color: white;
            text-align: center;
            background-color: rgba(0, 0, 43, 0.35);
            transition: background-color 0.2s ease-out;

             &:hover{
                background-color: rgba(61, 1, 104, 0.3);
                cursor: pointer;
             }

            //  &:focus{
            //     background-color: rgba(148, 3, 252, 0.4);
            //  }
        }
    }

    &__confirm-btn{
        @include mixin.btn-styles;

        &:hover{
            @include mixin.btn-hover-styles;
        }
    }

      &__btns-container{
        display: flex;
        width: 50%;
        justify-content: space-around;
    }

    &__next-ques-btn{
        @include mixin.btn-styles(rgba($color: #014d70, $alpha: 0.4));

        &:hover{
            @include mixin.btn-hover-styles(rgba($color: #029ce3, $alpha: 0.4))
        }
    }

    &__confirm-ans-btn{
        @include mixin.btn-styles;
        
        &:hover{
            @include mixin.btn-hover-styles;
        }
    }
}

    // ---------- GAME AREA STYLES ----------

    .question-area-wrapper{
        opacity: 100%;
        transition: opacity 0.15s ease-out;
        transition-delay: 0.5s;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__question-container{
            @include mixin.section-styles;
        }

        &__question{
            background-color: rgba($color: #03003c, $alpha: 0.3);
            border-radius: 5px;
            padding: 25px 40px;
            width: 75%;
        }

        &__question-text{
            color: white;
            text-align: center;
            font-size: 1.5rem;
        }

        &__answers{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 50%;
            width: 80%;
        
        }

        &__answer-text{
            background-color: rgba($color: #057779, $alpha: 0.3);
            border-radius: 5px;
            padding: 15px 30px;
            width: 75%;
            color: white;
            text-align: center;
            font-size: 1.2rem;
            transition: background-color 0.25s ease-out;

            &:hover{
                background-color: rgba($color: #00fbff, $alpha: 0.3);
                cursor: pointer;
            }
        }
    }

// -------------------- DYNAMICALLY ADDED STYLES --------------------
.hide{
    display: none;
    opacity: 0%;
} 

.selected-answer{
    background-color: rgba($color: #00fbff, $alpha: 0.3);
}

.selected-grid-item, .selected-grid-item:hover{
    background-color: rgba(148, 3, 252, 0.4);
}

.correct-answer, .correct-answer:hover, .correct-answer:focus{
    background-color: rgba($color: #019915, $alpha: 0.6);
    cursor: default;
}

.incorrect-answer, .incorrect-answer:hover, .incorrect-answer:focus{
    background-color: rgba($color: #990101, $alpha: 0.6);
    cursor: default;
}

.completed, .completed:hover, .completed:focus{
    background-color: rgba($color: #2d2c2c, $alpha: 0.4);
    cursor: default;
    text-decoration: line-through;
}
