// ---------- IMPORTS ----------
@use './mixin.scss';

// ---------- GLOBAL STYLES ----------
*{
    // outline: 1px solid #ff0000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    @include mixin.page-bg;
    overflow: visible;
}

// ---------- LOGO SECTION STYLES ----------
.logo-section{
    @include mixin.logo-section-styles;
    text-align: center;
    
    &__presents{
        @include mixin.presents-styles

    }

    &__logo{
        @include mixin.logo-styles
    }
}
// ----- START BUTTON -----

.game-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 10px;
    height: 30vh;

    &__scroll-guidance{
        margin-right: 15px;
        font-size: clamp(1rem, 3vw, 1.5rem)
    }
}

.start-solo-game{
    @include mixin.btn-styles;
    font-size: 1.7rem;
    font-weight: bold;
    
    &:hover{
        @include mixin.btn-hover-styles;
    }
}

// ---------- HOW TO PLAY SECTION STYLES ----------

.how-to-play{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: aliceblue;

    // ----- WELCOME DIV -----

    &__welcome-container{
        margin-top: 50px;
        margin-bottom: 25px;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__welcome-heading{
        font-size: clamp(1.4rem, 4vw, 2.4rem);
    }

    &__intro{
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        font-weight: bold;
        color: #9368ff;
    }

    .key-word{
        font-size: clamp(1.9rem, 7vw, 4.5rem)
    }

    // ----- INSTRUCTIONS DIV -----
    &__instructions{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: rgba($color: #5302bc, $alpha: 0.3);
        width: 95%;
        padding: 20px 10px;
        border-radius: 4px;
    }

    &__instruction-heading{
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    &__quick-note{
        margin-bottom: 30px;
        font-size: 1.2rem;
    }

    &__instruction-cards-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__instruction-card{
        background-color: rgba($color: #000000, $alpha: 0.2);
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        height: 40%;
        width: 90%;
        margin-bottom: 20px;
        padding: 25px 15px;
        border-radius: 5px;
    }

    &__instruction-text{
        font-size: 1.4rem;
    }

    &__instruction-visual-container{
        width: 75%;
        display: flex;
        align-items: center;
        border-radius: 5px;
    }

    &__instruction-visual{
        max-width: 85%;
        max-height: 100%;
        border-radius: 5px;
        margin-bottom: 20px;
    }
}

