* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  background-image: url("../assets/mesh-bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.logo-section {
  height: 10%;
  width: 99.9%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.logo-section__presents {
  margin-right: 5px;
}

.user-guidance {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.game-area__choices-container {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  background-color: rgba(7, 7, 238, 0.5);
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
}
.game-area__choices-container__choices-grid-item:nth-child(odd) {
  background-color: rgba(252, 3, 3, 0.5);
}
.game-area__choices-container__choices-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
